* {
  font-family: 'Maven Pro', sans-serif;
  box-sizing: border-box !important; }

p {
  margin: 0 !important; }

.link_company:hover {
  text-decoration: none; }

.center_all_flex {
  align-items: center;
  justify-content: center; }

.flex_column {
  flex-direction: column; }

.flex_row {
  flex-direction: row; }

.sect_head {
  min-height: 1080px;
  background: url(../img/bghead.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  .sect_head .top_side {
    padding: 50px; }
    .sect_head .top_side .text_logo {
      margin-left: 15px;
      font-size: 30px;
      font-weight: bold;
      color: #FFFFFF; }
    .sect_head .top_side .nav_and_start_btn {
      margin-left: auto; }
      .sect_head .top_side .nav_and_start_btn .navbar {
        padding: 0 !important; }
        .sect_head .top_side .nav_and_start_btn .navbar .nav-item {
          padding: 18px 15px !important;
          color: #FFF;
          border-bottom: 2px solid transparent;
          font-size: 16px;
          font-weight: 600; }
        .sect_head .top_side .nav_and_start_btn .navbar .nav-item:hover {
          border-bottom: 2px solid #FFF;
          color: #FFF; }
        .sect_head .top_side .nav_and_start_btn .navbar .nav-item:not(:first-child) {
          margin-left: 40px; }
      .sect_head .top_side .nav_and_start_btn .get_start {
        margin-left: 60px; }
      .sect_head .top_side .nav_and_start_btn .get_start_link {
        width: 150px;
        height: 50px;
        border: 1px solid #FFF;
        border-radius: 25px;
        font-size: 12px;
        font-weight: bold;
        color: #FFF; }
      .sect_head .top_side .nav_and_start_btn .get_start_link:hover {
        text-decoration: none; }
  .sect_head .social_mark_div {
    margin-top: 185px;
    margin-left: 100px;
    width: 30%;
    flex-direction: column; }
    .sect_head .social_mark_div .mini_title {
      margin-left: 40px;
      font-size: 14px;
      font-weight: bold;
      color: #FFFFFF;
      font-family: 'Maven Pro', sans-serif;
      position: relative; }
    .sect_head .social_mark_div .mini_title:before {
      content: "";
      left: -35px;
      top: 9px;
      position: absolute;
      width: 24px;
      height: 1px;
      background: white; }
    .sect_head .social_mark_div .big_title {
      font-size: 60px;
      font-weight: 600;
      color: #FFFFFF; }
    .sect_head .social_mark_div .info_control {
      color: #FFFFFF;
      margin-top: 10px !important; }
    .sect_head .social_mark_div .buttons {
      margin-top: 50px; }
      .sect_head .social_mark_div .buttons .explore_feat_1 {
        margin-left: 10px; }
      .sect_head .social_mark_div .buttons .get_start_1 a, .sect_head .social_mark_div .buttons .explore_feat_1 a {
        width: 190px;
        height: 50px;
        border-radius: 24px;
        font-size: 12px;
        font-weight: bold; }
      .sect_head .social_mark_div .buttons .get_start_1 a, .sect_head .social_mark_div .buttons .explore_feat_1 a:hover {
        text-decoration: none; }
  .sect_head .div_round_arrow {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 70px; }
    .sect_head .div_round_arrow .arrow {
      width: 64px;
      height: 64px;
      background: #FFFFFF;
      border-radius: 100%; }

.all_data_sect {
  position: relative;
  min-height: 1080px;
  background: url(../img/mockup.png) no-repeat;
  background-size: cover;
  background-position: center; }
  .all_data_sect .all_your_data_div {
    width: 30%;
    margin-left: 65%; }
  .all_data_sect .mini_title_data {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #9fa4af;
    font-family: 'Maven Pro', sans-serif;
    position: relative; }
  .all_data_sect .mini_title_data:before {
    content: "";
    left: -35px;
    top: 9px;
    position: absolute;
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .all_data_sect .big_title_data {
    font-size: 60px;
    font-weight: 600;
    color: #4f4f6f; }
  .all_data_sect .info_data {
    color: #9fa4af;
    margin-top: 10px !important; }
  .all_data_sect .buttons_data {
    margin-top: 50px; }
    .all_data_sect .buttons_data .core_feat_1 a {
      width: 190px;
      height: 50px;
      border-radius: 24px;
      font-size: 12px;
      font-weight: bold;
      box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2); }
    .all_data_sect .buttons_data .core_feat_1 a:hover {
      text-decoration: none; }
  .all_data_sect .div_round_arrow {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 70px;
    bottom: 0px;
    position: absolute;
    left: 50%;
    margin-left: -32px; }
    .all_data_sect .div_round_arrow .arrow {
      width: 64px;
      height: 64px;
      background: #7B43E7;
      border-radius: 100%; }

.powerfull_feat_sect {
  min-height: 1500px;
  background: url(../img/bg3.jpg) no-repeat;
  background-position: center;
  background-size: cover; }
  .powerfull_feat_sect .core_feat {
    color: #FFFFFF;
    font-weight: bold;
    font-size: 14px;
    position: relative; }
  .powerfull_feat_sect .core_feat:before {
    position: absolute;
    left: -38px;
    top: 10px;
    content: "";
    width: 24px;
    height: 1px;
    background: #FFFFFF; }
  .powerfull_feat_sect .core_feat:after {
    position: absolute;
    left: 118px;
    top: 10px;
    content: "";
    width: 24px;
    height: 1px;
    background: #FFFFFF; }
  .powerfull_feat_sect .sec_core_feat {
    color: #FFFFFF;
    font-weight: 600;
    font-size: 60px; }
  .powerfull_feat_sect .text_powerfull_feat {
    color: #FFFFFF; }
  .powerfull_feat_sect .power_three_col {
    width: 100%; }
    .powerfull_feat_sect .power_three_col .row_power_first {
      margin-top: 120px; }
    .powerfull_feat_sect .power_three_col .row_power {
      margin-top: 70px; }
    .powerfull_feat_sect .power_three_col .all_text_power {
      margin-left: 30px; }
      .powerfull_feat_sect .power_three_col .all_text_power .power_title {
        font-size: 24px;
        color: #FFFFFF; }
      .powerfull_feat_sect .power_three_col .all_text_power .power_text {
        font-size: 16px;
        color: #FFFFFF;
        margin-top: 23px; }
  .powerfull_feat_sect .div_round_arrow {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 70px; }
    .powerfull_feat_sect .div_round_arrow .arrow {
      width: 64px;
      height: 64px;
      background: #FFFFFF;
      border-radius: 100%; }

.dont_take {
  min-height: 1140px;
  position: relative; }
  .dont_take .testmon_mini {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #9fa4af;
    font-family: 'Maven Pro', sans-serif;
    position: relative; }
  .dont_take .testmon_mini:before {
    content: "";
    left: -35px;
    top: 9px;
    position: absolute;
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .dont_take .tistmon_bigi {
    font-size: 60px;
    font-weight: 600;
    color: #4f4f6f; }
  .dont_take .testmon_citata {
    font-family: 'Playfair Display', serif;
    font-size: 24px;
    font-style: italic;
    color: #4f4f6f;
    margin-top: 10px !important; }
  .dont_take .person_info {
    margin-top: 20px; }
    .dont_take .person_info .person_text {
      margin-left: 25px; }
      .dont_take .person_info .person_text .name_person {
        font-weight: bold;
        color: #9fa4af;
        font-size: 14px; }
      .dont_take .person_info .person_text .role_person {
        color: #9fa4af;
        font-size: 14px; }
  .dont_take .video_div {
    border-radius: 18px;
    height: 370px;
    background: url(../img/olu-eletu-13086.jpg) no-repeat;
    background-size: cover;
    background-position: center; }
    .dont_take .video_div .play {
      cursor: pointer;
      background: #6e45e2;
      border-radius: 100%;
      height: 80px;
      width: 80px; }
  .dont_take .div_round_arrow {
    cursor: pointer;
    margin-top: auto;
    margin-bottom: 70px;
    bottom: 0px;
    position: absolute;
    left: 50%;
    margin-left: -32px; }
    .dont_take .div_round_arrow .arrow {
      width: 64px;
      height: 64px;
      background: #FFFFFF;
      box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
      border-radius: 100%; }

.who_we_sect {
  position: relative;
  min-height: 1080px;
  background: url(../img/hz_fon.png) no-repeat;
  background-position: center left; }
  .who_we_sect .koral {
    position: absolute;
    right: 0; }
  .who_we_sect .all_your_choose_div {
    width: 28%;
    margin-left: 60%; }
  .who_we_sect .mini_title_choose {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #9fa4af;
    font-family: 'Maven Pro', sans-serif;
    position: relative; }
  .who_we_sect .mini_title_choose:before {
    content: "";
    left: -35px;
    top: 9px;
    position: absolute;
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .who_we_sect .big_title_choose {
    font-size: 60px;
    font-weight: 600;
    color: #4f4f6f; }
  .who_we_sect .info_choose {
    color: #9fa4af;
    margin-top: 10px !important; }
  .who_we_sect .arrow {
    cursor: pointer;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 100%;
    margin-top: 175px; }

.meet_team {
  padding-top: 120px;
  padding-bottom: 120px;
  border-bottom: 1px solid #e3e6ee; }
  .meet_team .our_team_zag1 {
    color: #9fa4af;
    font-weight: bold;
    font-size: 14px;
    position: relative; }
  .meet_team .our_team_zag1:before {
    position: absolute;
    left: -38px;
    top: 10px;
    content: "";
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .meet_team .our_team_zag1:after {
    position: absolute;
    left: 84px;
    top: 10px;
    content: "";
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .meet_team .our_team_zag2 {
    color: #4f4f6f;
    font-weight: 600;
    font-size: 60px;
    text-align: center; }
  .meet_team .text_team {
    color: #9fa4af;
    text-align: center; }
  .meet_team .info_team_mate {
    margin: 0 auto; }
    .meet_team .info_team_mate .photo_team {
      align-self: center;
      width: 100%; }
    .meet_team .info_team_mate .name_team {
      font-weight: bold;
      color: #9fa4af;
      margin-top: 35px; }
    .meet_team .info_team_mate .who_team {
      color: #9fa4af;
      font-size: 14px; }
  .meet_team .arrow {
    cursor: pointer;
    position: absolute;
    width: 64px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 100%;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
    bottom: -32px;
    left: 50%;
    margin-left: -32px; }

.what_new {
  padding-top: 120px;
  padding-bottom: 120px; }
  .what_new .what_mini {
    margin-left: 40px;
    font-size: 14px;
    font-weight: bold;
    color: #9fa4af;
    font-family: 'Maven Pro', sans-serif;
    position: relative; }
  .what_new .what_mini:before {
    content: "";
    left: -35px;
    top: 9px;
    position: absolute;
    width: 24px;
    height: 1px;
    background: #6e45e2; }
  .what_new .what_bigi {
    font-size: 60px;
    font-weight: 600;
    color: #4f4f6f; }
  .what_new .what_text {
    color: #9fa4af; }
  .what_new .read_all {
    text-transform: uppercase;
    height: 50px;
    width: 190px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
    border-radius: 25px;
    font-size: 12px;
    font-weight: bold;
    color: #c2c9db; }
  .what_new .carousel_div {
    width: 95%;
    margin: 0 auto;
    margin-top: 70px; }
  .what_new .owl-stage {
    padding: 10px 0px; }
  .what_new .owl-nav {
    display: none; }
  .what_new .owl-dots {
    display: flex;
    justify-content: center;
    margin-top: 20px; }
    .what_new .owl-dots .owl-dot {
      height: 12px;
      width: 12px;
      background: #ddd6f7;
      border-radius: 100%;
      outline: none;
      transition: 0.2s; }
    .what_new .owl-dots .owl-dot:hover {
      background: #6e45e2; }
  .what_new .owl-dots .owl-dot:not(:first-child) {
    margin-left: 8px; }
  .what_new .data_detail {
    margin-left: 20px;
    border-radius: 20px;
    box-shadow: 0 0 13px 0px rgba(0, 0, 0, 0.2);
    padding: 40px; }
  .what_new .data_zag {
    font-size: 21px;
    color: #4f4f6f;
    font-weight: 600; }
  .what_new .data_date {
    margin-top: 20px;
    font-size: 13px;
    color: #9fa4af;
    position: relative; }
  .what_new .data_date:after {
    content: "";
    width: 70px;
    height: 1px;
    background: #6e45e2;
    position: absolute;
    left: 0;
    top: 44px; }
  .what_new .date_text {
    margin-top: 40px !important;
    color: #9fa4af; }
  .what_new .bottom_icons {
    margin-top: 40px; }
  .what_new .img_table {
    width: 16px !important; }
  .what_new .img_pers {
    width: 32px !important; }
  .what_new .com_count {
    font-size: 13px;
    color: #9fa4af;
    margin-left: 15px; }

.take_control {
  min-height: 1080px;
  background: url(../img/bgprefoot.jpg) no-repeat;
  background-size: cover;
  background-position: center; }
  .take_control .take_contr_div {
    padding-top: 190px; }
  .take_control .social_mark {
    font-size: 14px;
    font-weight: bold;
    color: #FFF; }
  .take_control .text_mark {
    font-size: 60px;
    font-weight: 600;
    color: #fff; }
  .take_control .buttons_control_data {
    margin-top: 15px; }
    .take_control .buttons_control_data .btn_start a, .take_control .buttons_control_data .btn_explore a {
      width: 150px;
      height: 50px;
      border-radius: 25px;
      font-size: 12px;
      font-weight: bold;
      color: #FFF; }
    .take_control .buttons_control_data .btn_start a:hover, .take_control .buttons_control_data .btn_explore a:hover {
      text-decoration: none; }
    .take_control .buttons_control_data .btn_start a {
      background: #6e45e2;
      color: #FFF; }
    .take_control .buttons_control_data .btn_explore {
      margin-left: 10px; }
      .take_control .buttons_control_data .btn_explore a {
        background: #FFF;
        color: #c2c9db; }

.footer {
  padding: 45px 0px; }
  .footer .text_logo {
    margin-left: 15px;
    font-size: 30px;
    font-weight: bold;
    color: #37374a; }
  .footer .top_side_foot {
    width: 95%;
    margin: 0 auto;
    padding-bottom: 20px;
    border-bottom: 2px solid #f2f2f3; }
  .footer .nav_and_start_btn {
    margin-left: auto; }
  .footer .navbar-nav .nav-item {
    color: #6a6a77 !important;
    font-weight: 600; }
  .footer .navbar-nav .nav-item:not(:first-child) {
    margin-left: 60px;
    margin-top: 1px; }
  .footer .get_start {
    margin-left: 60px; }
    .footer .get_start .get_start_link {
      background: #7B43E7;
      width: 150px;
      height: 50px;
      border-radius: 25px;
      font-size: 12px;
      font-weight: bold;
      color: #FFF; }
    .footer .get_start .get_start_link:hover {
      text-decoration: none; }
  .footer .low_fot_info {
    padding-top: 30px;
    width: 95%;
    margin: 0 auto; }
    .footer .low_fot_info .date_foot {
      color: #B4B4BB;
      font-weight: 600;
      font-size: 14px; }
    .footer .low_fot_info img {
      align-self: flex-start; }

@media screen and (max-width: 992px) {
  .top_side {
    flex-direction: column; }
  .sect_head .top_side .text_logo {
    margin-left: 0px; }
  .sect_head .top_side .nav_and_start_btn {
    margin-left: 0;
    flex-direction: column;
    background: rgba(123, 141, 217, 0.92);
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    padding: 20px 0px; }
  .sect_head .top_side .nav_and_start_btn .get_start {
    margin-left: 0px;
    margin-top: 20px; }
  .nav_and_start_btn, .navbar {
    width: 100% !important; }
  .navbar {
    justify-content: center !important; }
    .navbar .nav-item {
      margin-left: 0px !important;
      text-align: center;
      background: #787bda;
      margin-bottom: 1px;
      transition: 0.2s;
      border-bottom: none !important; }
    .navbar .nav-item:hover {
      background: #FFFFFF;
      color: #787BDA !important; }
    .navbar .navbar-toggler {
      margin-bottom: 20px; }
  .sect_head .social_mark_div {
    width: 80%;
    margin-left: 50px; }
  .all_data_sect .all_your_data_div {
    width: 80%;
    margin: 0 auto; }
  .sect_head .div_round_arrow {
    margin-top: 40px; }
  .footer .top_side_foot .nav_and_start_btn {
    margin-top: 10px;
    margin-left: 0;
    flex-direction: column;
    background: rgba(123, 141, 217, 0.92);
    box-shadow: 0 0 16px 1px rgba(0, 0, 0, 0.2);
    border-radius: 21px;
    padding: 20px 0px; }
  .footer .get_start {
    margin-left: 0px !important; }
  .footer .navbar-nav .nav-item {
    border-bottom: none;
    color: #f2f2f3 !important; }
  .footer .navbar-nav .nav-item:hover {
    color: #756edc !important; } }

@media screen and (max-width: 576px) {
  .sect_head .social_mark_div {
    margin: 0 auto; }
  .sect_head .social_mark_div .buttons {
    flex-direction: column;
    align-items: center; }
    .sect_head .social_mark_div .buttons .explore_feat_1 {
      margin-left: 0px;
      margin-top: 20px; }
    .sect_head .social_mark_div .buttons .get_start_1, .sect_head .social_mark_div .buttons .explore_feat_1 {
      width: 100%; }
      .sect_head .social_mark_div .buttons .get_start_1 a, .sect_head .social_mark_div .buttons .explore_feat_1 a {
        width: 100%; }
  .sect_head .div_round_arrow {
    margin-top: 20px; }
  .all_data_sect .all_your_data_div {
    margin-left: 0px;
    width: 80%;
    margin: 0 auto; }
  .all_data_sect .all_your_data_div .buttons_data .core_feat_1 {
    width: 100%; }
    .all_data_sect .all_your_data_div .buttons_data .core_feat_1 a {
      width: 100%; }
  .dont_take {
    padding: 100px 0px; }
  .dont_take .div_round_arrow {
    margin-bottom: 30px; }
  .powerfull_feat_sect .sec_core_feat, .powerfull_feat_sect .text_powerfull_feat {
    text-align: center; } }
